.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.searchBar input{
    height: 8vh;
    border-radius: 10rem;
    width: 40vw;
    font-size: x-large;
    padding-left: 1rem;
    transition: width 1s, height 1s;
}

.searchBar input:focus {
    height: 10vh;
    width: 60vw;
}



