.mainSong {
    display: flex;
    position: relative;
    top: 8vh;
    left: 10vw;
    width: 100vw;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.mainSong img {
    object-fit: cover;
    width: 350px;
    height: 450px;
    display: flex;
    position: relative;
    left: 20%;
    border-radius: 1rem;
    border: 5px solid;
    border-color: black;
}

.mainSong .div1{
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    /* left: 10%; */
}

.mainSong .div2{
    width: 50%;
    position: relative;
    right: 5%;
}

.mainSong p {
    position: relative;
    top: 15vh;
    word-wrap: break-word;
    width: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 1.2rem;
    color: sienna;
}




.div1 {
    /* position: relative; */
    transition: all 0.2s;
}

.mainImage:hover {
    opacity: 0.7;
    transform: scale(1.005);
}

.div1:hover button {
    visibility: visible !important;

}

.div1 button {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 38%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

