.songsList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 2rem;
}

.songsList div {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
}

.songsList img {
    object-fit: cover;
    width: 250px;
    height: 350px;
    border-radius: 1rem;
    border: 3px solid;
    border-color: black;
}

.songsList p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 1.1rem;
    /* text-decoration: underline; */
    color: brown;
}